<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Signature Manage</title>
  <script>
    window.ENV_BASEAPI = "https://cms.pk1359.com/api/"
    // window.ENV_APPURL = "https://auto.egrl999.com" //跳转应用详情
    window.ENV_APPURL = "localhost:8080"
  </script>
</head>

<body>
  <div id="root"></div>
</body>

</html>
